<section id="contact" class="relative py-20 md:py-[120px]">
  <div class="absolute top-0 left-0 -z-[1] w-full dark:bg-dark h-full"></div>
  <div class="absolute top-0 left-0 -z-[1] h-1/2 w-full bg-[#FAEBEFFF] lg:h-[60%] xl:h-1/2"></div>
  <div class="container px-4">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4 lg:w-7/12 xl:w-8/12">
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title mb-12 lg:mb-[150px] text-center">
            <span class="mb-6 block text-base font-medium text-dark dark:text-white">
              Connect with Our Team
            </span>
            <h2 class="max-w-[360px] text-[60px] leading-[1.14] font-semibold text-dark dark:text-white">
              Let's make things happen!
            </h2>
          </div>
          <div class="mb-12 flex flex-wrap justify-between lg:mb-0">
            <div class="mb-8 flex w-full lg:w-[48%] max-w-[330px] mx-auto lg:mx-0 items-center">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="60" height="35" viewBox="0 0 29 35" class="fill-current">
                  <!-- Your SVG path here -->
                </svg>
              </div>
              <div>
                <h5 class="mb-[30px] text-lg font-semibold text-dark dark:text-white">Our Location</h5>
                <p class="text-base text-body-color dark:text-dark-6">
                  Betonimiehenkuja 3d Betonimiehenkuja 3d, 02150 Espoo, Finlande
                </p>
              </div>
            </div>
            <div class="mb-8 flex w-full lg:w-[48%] max-w-[330px] mx-auto lg:mx-0 items-center">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="34" height="25" viewBox="0 0 34 25" class="fill-current">
                  <path
                    d="M30.5156 0.960938H3.17188C1.42188 0.960938 0 2.38281 0 4.13281V20.9219C0 22.6719 1.42188 24.0938 3.17188 24.0938H30.5156C32.2656 24.0938 33.6875 22.6719 33.6875 20.9219V4.13281C33.6875 2.38281 32.2656 0.960938 30.5156 0.960938ZM30.5156 2.875C30.7891 2.875 31.0078 2.92969 31.2266 3.09375L17.6094 11.3516C17.1172 11.625 16.5703 11.625 16.0781 11.3516L2.46094 3.09375C2.67969 2.98438 2.89844 2.875 3.17188 2.875H30.5156ZM30.5156 22.125H3.17188C2.51562 22.125 1.91406 21.5781 1.91406 20.8672V5.00781L15.0391 12.9922C15.5859 13.3203 16.1875 13.4844 16.7891 13.4844C17.3906 13.4844 17.9922 13.3203 18.5391 12.9922L31.6641 5.00781V20.8672C31.7734 21.5781 31.1719 22.125 30.5156 22.125Z" />
                </svg>
              </div>
              <div>
                <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">How Can We Help?</h5>
                <p class="text-base text-body-color dark:text-dark-6">info@cybersecurity.fi</p>
                <p class="text-base text-body-color dark:text-dark-6 mt-1">Phone number here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
